body{
    background-color:#8ecae6;
}



.picture{
  
        width: 200px;
        height: 200px;
        border:1px black dashed;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        border-radius: 80%;

}

.portada{
    grid-area: portada;
    height:10vh;
    width: 100%;
    background: -webkit-linear-gradient(90deg, yellow 10%, orange 90%);
    border-radius: 50px;
    text-align: center;
    background-blend-mode: soft-light;
    text-decoration: none;
    color: white;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    
}
.portada img{
    width: 10vh;
    position: absolute;
    left: 70%;
    
}

.portada a{
    font-size: 30px;
    text-decoration: none;
    color: #023047;
}

.portada a:hover{
    background: #8ecae6;
}

.contenedor{
    
    max-width: 80em;
    margin:1.2 em auto;
    display: grid;
    grid: gap 10px;
    grid-template-columns: (4, 1fr);
    grid-template-rows:repeat(4,auto);
    grid-template-areas:"header header header"
                        "portada portada portada"
                        "contenido contenido sidebar"
                        "widget-1  widget-2  sidebar "
                        "footer footer footer" ;

}

.contenedor > div,
.contenedor .header, 
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background:white;
    border-radius:4px;
    padding: 20px;
   
}

.contenedor .header{
   
    background-color: #023047;
    background-position: center center;
    color: rgb(204, 207, 209);
    grid-column-start: 1;
    grid-area: header;
    font-family: Segoe UI Black;    
   
}

nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 50px;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;

}

nav ul li a{

    color:#ffb703;
    font-size: 20px;
    padding: 7px, 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    
}

li a.active, li a:hover{
    background: rgb(6, 235, 201);
    transition: .5s;
}

.menu-btn{
    font-size: 30px;
    color:#ffb703;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.menu-check{
    display: none;
}


#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #023047;
    text-decoration: underline;
    text-decoration-color: #ffb703;
    
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #ffb703;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 15px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color:#ffb703;
    color: #fff;
}

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color:#ffb703;
}

#servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #023047;
    text-decoration: underline;
    text-decoration-color:#023047;
    
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #023047;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
    color: #6ecaf2;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #6ecaf2, -5px -5px 10px #6ecaf2;
}

#servicios .fila .servicio .icono img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffb703;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #6ecaf2;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}


#portafolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portafolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color:#023047#111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portafolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portafolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portafolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portafolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffb703;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portafolio.fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

@media screen and (min-width:1280px) {
    .contenedor {
        grid-template-areas:"header header header"
                            "portada portada portada"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                            "widget-1  widget-2  sidebar "
                            "footer footer footer" ;
    }
    .links{
        
        flex-direction: column;
        text-align: justify
    
    }
    .contenedor .header{
        background-color: #023047;
        background-size:100%;
        font-size: 20px;
       
    }

    .picture{
  
        width: 100px;
        height: 100px;
        border:1px black dashed;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        border-radius: 80%;

    }
    
   .portada img{
    margin-left: 10%;
   }
    .portada a{
        font-size: 40px;
        text-decoration: none;
        color: #023047;
        
    }  
    
    .portada{
        justify-content: center;
        align-items: center;
        display: absolute;
        text-align: center;
        
    }

    .portada a:hover{
        background: #8ecae6;
    }

    .name{
        width: 20%;
        height: 10%;
        position:absolute;
        left: -60%;
        top: 10%;
        right: 0;
        margin: 0 auto;
        font-size:12px ;
        text-align: center;
        color:#023047;
        transform: skewY(-5deg);
        background-color: #ffb703;
        
    }

    /* Sección de Hhabilidades */

    .contenedor-skills {
        background: linear-gradient( #06c3dc, rgba(0, 10, 82, 0.8));
        color: #ffb703;
        background-position: center center;
        padding: 100px 0;
        text-align: center;
    }
    
    .contenedor-skills .skill {
        max-width: 600px;
        margin: 30px auto;
    }
    
    .contenedor-skills .skill .info {
        display: flex;
        justify-content: space-between;
    }
    
    .contenedor-skills .skill .lista {
        display: inline-block;
        margin-right: 20px;
        height: 10px;
        width: 10px;
        background-color: #ffb703;
    }
    
    .contenedor-skills .skill .barra {
        background-color: #023047;
        width: 100%;
        height: 6px;
        margin: 10px 0px;
    }
    
    .contenedor-skills .skill .barra .barra-progreso1 {
        background-color: #fff;
        width: 95%;
        height: 6px;
        animation: progreso1 2s forwards;
    }
    
    .contenedor-skills .skill .barra .barra-progreso2 {
        background-color: #fff;
        width: 90%;
        height: 6px;
        animation: progreso2 2s forwards;
    }
    
    .contenedor-skills .skill .barra .barra-progreso3 {
        background-color: #fff;
        width: 90%;
        height: 6px;
        animation: progreso3 2s forwards;
    }
    
    .contenedor-skills .skill .barra .barra-progreso4 {
        background-color: #fff;
        width: 85%;
        height: 6px;
        animation: progreso4 2s forwards;
    }
    
    
    
}

#contacto {
    padding: 100px 15px;
    background-color: #ffb703;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #023047;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #6ecaf2;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #6ecaf2;
    color: #fff;
}

footer {
    background-color:#023047;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}



@media screen and (max-width: 786px){

    

    .contenedor {
        grid-template-areas:"header header header"
                            "portada portada portada"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                            "widget-1 widget-2 widget-2 "
                            "footer footer footer" ;
        }       
        .menu-btn{
            display: block;
        }

        ul{
            position: fixed;
            width: 100%;
            height:100vh;
            padding: 2px;
            background: #023047;
            background-position: center;
            background-blend-mode: soft-light;
            top:100px;
            left: -120%;
            text-align: center;
            transition: all .5s;
        }

        nav ul li{
            display:block;
            margin: 50px 0;
            line-height: 30px;
        }

        nav ul li a{
            font-size: 20px;
        }

        li a.active, li a:hover{
            background: none;
            color: #6ecaf2;
        }

        .menu-check:checked ~ div ul{
            left: 0;

        }     

        .name{
            display: none;
        }

        .portada img{
            margin-left: 10%;
            width: 15%;
        }

        .portada a{

                font-size: 12px;
                text-decoration: none;
                color: #023047;
                
            }  
        
         .portada a:hover{
                background: #8ecae6;
            }

    
         /* Sección educación */
         #sobremi {
            padding: 50px 0;
            display: block;
        }
        #sobremi .contenedor-foto {
            max-width: 200px;
            margin: auto;
        }
        #sobremi .contenedor-foto img {
            padding: 8px;
        }
        #sobremi .sobremi .titulo-seccion {
            text-align: center;
        }
        #sobremi .sobremi h2 {
            font-size: 25px;
            text-align: center;
        }
        /* Sección de educación*/
        #servicios {
            padding: 50px 15px;
        }
        #servicios .fila {
            display: block;
        }
        #servicios .fila .servicio {
            margin: 10px auto;
        }

         /* Sección habilidades */
         .contenedor-skills {
            padding: 50px 20px;
        }

         /* Sección portafolio */
         #portafolio {
            padding: 50px 0;
        }
        #portafolio .fila {
            display: block;
        }
        #portafolio .fila .proyecto {
            margin: 10px auto;
        }

}

@media screen and (min-width: 1800px){
    
    .name{
        width: 20%;
        height: 10%;
        position:absolute;
        left: -60%;
        top: 5%;
        right: 0;
        margin: 0 auto;
        font-size:12px ;
        text-align: center;
        color:#023047;
        transform: skewY(-5deg);
        background-color: #ffb703;
        
    }

    .header{
        width: 1820px;
    }

    /* Contacto*/
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }

}

